@font-face {font-family: "HelveticaNeueCyr"; src: url("../font/HelveticaNeueCyr-Roman.otf") format('opentype'), url("../font/HelveticaNeueCyr-Roman.woff") format("woff")} 
* {
    box-sizing: border-box;
}
html, body {
    margin:0;
    /* font-family: 'Gorditas', sans-serif; */
    font-family: -apple-system,BlinkMacSystemFont,"HelveticaNeueCyr",sans-serif;
    font-size:15px;
}
.kContainer {
    height: 100vh;
    width: 100%; 
    display: flex;
    flex-direction: column;
}
.kHeader {   
    display: flex;
    background-color:#EAAC7B;
    justify-content: center;
    height: 12%;
}
.kHeader .Logo {
    max-width: 60%;
    max-height: 100%;
}
.select_header {
    align-items: center;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.connect {
    text-align: center;
    width:auto;
    font-size:17px;
}
.country_connect {
    text-align: center;
    width:auto;
    font-size:17px;
}
.not_connected {
    width:inherit;
    max-width:inherit;
    height:65px;
    background: transparent;
}
.flag {
    width:inherit;
    max-width:inherit;
    height:65px;
}
.input_btn{
    /* font-family:'Gorditas', sans-serif; */
    font-family: -apple-system,BlinkMacSystemFont,"HelveticaNeueCyr",sans-serif;
}
input[type="submit"]:focus {
    outline: none;
} 
.connect_btn {
    margin-top:18%;
    margin-bottom: 7%;
    width:80%;
    height:40px;
    color: white;
    background-color: #6391E8;
    font-size:15px;
    border-radius: 5px;
     border:none; 
}
.disconnect_btn {
    margin-top:18%;
    margin-bottom: 7%;
    width:80%;
    height:40px;
    color: white;
    background-color:  #6391E8;
    font-size:15px;
    border-radius: 5px;
    border:none; 
}
.back_arr {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
} 
.back_arr:hover {
    background-color: #ddd;
    color: black;
}
.con_container {
    padding:1%;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    padding-bottom:5%;  
    width:100%;
    height: 75%;
}
.search_container {
    padding:2%;
    display:flex;
    align-items:center;
    flex-direction: inherit;
    flex-wrap:wrap;
    width:100%;   
}
.search_box {
    width:100%;
    height:auto;
    border-radius: 5px;
}
.tbl {
    border:none;
    width:inherit;
    display: block;
    height: 340px;
    overflow-y: auto;
    margin-top:5%;
    margin-bottom:1%;
    table-layout:fixed;
}
tbody {
    width: 100%;
    display: table;
}
.table-borderless > tbody > tr > td {
    border:none;
}
.first_column {
    height:18px;
}
.scnd_column {
    float:right;
    display:none;
}
.country_flag {
    width:inherit;
    height:inherit;
    margin-bottom: 5px;
    /* addition */
    margin-right:2%;
}
#err {
    color: red;
    display: none;
    margin:auto; 
    margin-top:1%
}
#loading {
    margin:auto; 
    margin-top:1%
}
@media only screen and (max-width: 325px) {
    .disconnect_btn {
        align-self: center;
        margin:auto;
    }
    .connect_btn {
        align-self: center;
        margin:auto;
    }
    body {
        /* to adjust popup size */
        height: 450px;
        width: 325px; 
    } 
    .kContainer {
        height: 450px;
        width: 325px;   
    }
    .kHeader {
        height: 12%;
        justify-content: flex-start;
    }
    .kHeader .Logo {
        /* height: 70px;
        width: 180px; */
        height: 52px;
        width: 200px;
        margin-left:10px;
        padding-top: 4px;
    }
    .con_container {
        height:80%;
    }
}