html,body{
    margin: 0;
}
.Container
{
    height: 100vh;
    width: 100%; 
    display: flex;
    flex-direction: column;
}
 .Header
{   
    display: flex;
    background-color:#EAAC7B;
    justify-content: center;
    height: 15%;
}

.Header .Logo
{
    max-width: 60%;
    max-height: 100%;
}
.Body
{
    display: flex; 
    justify-content: center;
    height: 75%;
}
.Footer
{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 10%;

}
.btn1
{
    height: 60px;
    width: 310px;
    color: white;
    background-color: rgba(211, 84, 0, 0.938);
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 325px)
{
    .Container
    {
        height: 450px;
        width: 325px; 
        
    }
.Header
{
    height: 15%;
    justify-content: flex-start;
}
.Header .Logo
{
    height: 70px;
    width: 200px;
    margin-left:10px;
}

.Body
{
    height: 72%;
}

.btn1
{
    height: 50px;
    width: 180px;
    color: white;background-color: #6391E8;
    font-family: 'Roboto', sans-serif;
}

}