html,body{
    margin: 0;
}
.container
{
    height: 100vh;
    width: 100%; 
    display: flex;
    flex-direction: column;
    
}

 .Header
{   
    display: flex;
    background-color:black;
    justify-content: center;
    height: 15%;
}

.Header .Logo
{
    max-width: 60%;
    max-height: 100% ;
}

.Body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
}

.Email
{
    width:222px;
    height: 20px;
    align-content: center;
}

.password
{
    width:222px;
    height: 20px;
}

.btn1
{
    width:222px;
    height: 30px;
    color: white;
    background-color: rgba(211, 84, 0, 0.938);
}

@media only screen and (max-width: 550px)
{
    .container
    {
        height: 470px;
        width: 325px; 
        
    }
.Header
{
    height: 15%;
    justify-content: center;
}
.Header .Logo
{
    height: 70px;
    width: 180px;
}

.Body
{
    height: 85%;
}

.btn1
{
    width:222px;
    height: 33px;
    color: white;
    background-color: rgba(211, 84, 0, 0.938);
}
}