html,body{
    margin: 0;
}
.container
{
    height: 100vh;
    width: 100%; 
    display: flex;
    flex-direction: column;
    
}

 .Header
{   
    display: flex;
    background-color:#EAAC7B;;
    justify-content: center;
    height: 15%;
}

.Header .Logo
{
    max-width: 60%;
    max-height: 100% ;
}

.Body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
}

.Email
{
    width:222px;
    height: 20px;
    align-content: center;
}

.password
{
    width:222px;
    height: 20px;
}
.sign_up1{
    font-family: 'Roboto', sans-serif;
}
.btn1
{
    width:222px;
    height: 30px;
    color: white;
    background-color: #6391E8;
}

@media only screen and (max-width: 550px)
{
    .container
    {
        height: 450px;
        width: 325px; 
        
    }
    .sign_up1
    {
        display: flex;
        width: 228px;
        justify-content:flex-start;
    }
.Header
{
    height: 16.5%;
    justify-content: flex-start;
}
.Header .Logo
{
    height: 70px;
    width: 200px;
    margin-left:10px;
}

.Body
{
    height: 80%;
}

.btn1
{
    width:222px;
    height: 33px;
    color: white;
    background-color: #6391E8;
    font-family: 'Roboto', sans-serif;
}
}