
html,body{
  margin: 0%;   
  width:100%;
  height: 100%; 
}
.Container
{
    height: 100vh;
    width: 100%; 
    display: flex;
    flex-direction: column;
}
 .Header
{   
    display: flex;
    background-color:#EAAC7B;
    justify-content: center;
    height: 15%;
}

.Header .Logo
{
    max-width:100%;
    max-height: 100%;
}
.Body
{
    display: flex; 
    justify-content: center;
    height: 75%;
}

.container1
{
  width: 100%;
  height:100%;
  
}
.carousel
{
  display: flex;
    width: 100%;
    height:100%;
    
  
}

.carousel-inner{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ol.carousel-indicators li
  {
    background:rgba(109, 109, 109, 0.2);
  }
  ol.carousel-indicators li.active {
    background:rgba(109, 109, 109, 1);
    
  }
  
  .carousel-inner > .item > .img1,.carousel-inner > .item > .img3{
    padding:20%;
    margin: auto;
  }
  .carousel-inner > .item > .img2
  {
    padding:15%;
    margin: auto;
  }
  
  .desc1
  {
      color: rgba(71, 62, 56, 0.938);
      font-family: 'Roboto', sans-serif;
  }
  .carousel-caption1
  {
    
    position: relative;
    left: 0;
    top:220px;
  }
 
  .carousel-caption .desc2
  {

    color: rgba(71, 62, 56, 0.938);
    font-family: 'Roboto', sans-serif;
    
    /* height:100px;
    bottom: 0 ;
    left: 50%;
    margin-left: -470px; */
  }
  .desc3
  {
      
      color: rgba(71, 62, 56, 0.938);
      font-family: 'Roboto', sans-serif;
      margin-left:5px ;
  }

  /* .carousel-caption
  {
    margin-top: -5px;
   
  } */
.Footer
{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 10%;
   
}

.btn1,.btn2
{
    height: 60px;
    width: 155px;
    color: white;
    background-color: #6391E8;
}


.divider{
    width:100px;
    height:auto;
    display:inline-block;

}
.divider1{
    width:10px;
    height:auto;
    display:inline-block;
}

@media only screen and (max-width: 550px)
{
    .Container
    {
        height: 450px;
        width: 325px; 
    }
.Header
{
    height: 15%;
    justify-content: flex-start;
}
.Header .Logo
{
    height: 70px;
    width: 195px;
    margin-left:10px
}

.Body
{
    height: 75%;
}

.carousel-inner > .item > .img1,.carousel-inner > .item > .img3{
    padding:30%;
    margin-top: -40px;
  }
  .carousel-inner > .item > .img3
  {
      margin-left:-5px;
  }
  .carousel-inner > .item > .img2
  {
      
    padding:20%;
  }
  .carousel-caption
  {
      
      align-self: baseline;
  }
.btn1
{
    height: 50px;
    width: 110px;
    color: white;
    background-color: #6391E8;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.btn2
{
    height: 50px;
    width: 110px;
    color: white;
    background-color: #6391E8;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.divider{
    width:45px;
    height:auto;
    display:inline-block;

}
}


 
