body{
  margin: 0%;    
}

.Header{
    width: 39vh;
    height: 100px;
    background-color:black;
}
.Logo 
{
    width:65%
}

.Body
{
    display:flex;
    height: auto;
    width:533px;   
    background-color: darkgrey;
    
}

.dot_img
{
    height: 200px;
    width:40vh; 
}

.Footer 
{
    display: flex;
    width:40vh; 
    align-content: space-around;
    justify-content: center;

}

.btn1
{
    height: 60px;
    width: 170px;
    color: rgba(211, 84, 0, 0.938);
    background-color: white;
}

.btn2
{
    height: 60px;
    width: 170px;
    color: white;
    background-color:  rgba(211, 84, 0, 0.938);
}

.divider{
    width:100px;
    height:auto;
    display:inline-block;
}